body{
    margin: 0;
    padding: 0;
    background-color:gainsboro ;
}

.wrapper{
    width: 700px;
    height: auto;
    margin: 0 auto;
    background-color: ghostwhite;
    border: 1px solid gray;
    padding: 10px;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    font-style: normal;
    font-family: unset;
}
.image{
    height: 170px;
    margin-left: 10px;
    padding: 10px;
}
table{
    border: 2px dashed black;
    padding: 10px;
}
table tr td span{
    font-size: 20px;
    font-family: FreeMono ;
    margin-right: 10px;
    padding: 10px;
}
ul li{
    list-style-type: none;
}